/* =============== CONTENTS =============== */
/* CUSTOM PROPS / VARIABLES */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* SITE SECTIONS */
/* MEDIA QUERIES */



/*------------------------------------*\
  #CUSTOM PROPS / VARIABLES
\*------------------------------------*/

:root {
  --text-color: #333;
  --yellow-color: #ffbd54;
}



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}



/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}



/*------------------------------------*\
  #SITE-SECTIONS
\*------------------------------------*/

/* SITE-CONTENT */

.site-content {
  flex-grow: 1;
}



/* COMPANY-ADDRESS */

.company-address {
  display: flex;
  align-items: center;
  font-style: normal;
}

.company-address::before {
  width: 14px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/icon-house.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}



/* PHONES */

.phones {
  display: flex;
}

.phones--align-center {
  align-items: center;
}

.phones::before {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  background-image: url("../img/icon-phone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.phones__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.phones__list--row {
  display: flex;
  flex-wrap: wrap;
}

.phones__item {
  position: relative;
  z-index: 1;
}

.phones__list--row .phones__item + .phones__item {
  margin-left: 22px;
}

.phones__list--row .phones__item + .phones__item::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  content: "";
}

.phones__link {
  color: var(--text-color);
  text-decoration: none;
  white-space: nowrap;
}

.phones__link:hover {
  color: var(--yellow-color);
}

.phones__link:active {
  opacity: 0.5;
}



/* WORK-HOURS */

.work-hours {
  display: flex;
}

.work-hours::before {
  width: 14px;
  height: 14px;
  margin-right: 7px;
  background-image: url("../img/icon-schedule.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: "";
}

.work-hours--align-center {
  align-items: center;
}

.work-hours__list {
  display: flex;
}

.work-hours__list--column {
  flex-direction: column;
}

.work-hours__line:first-child {
  margin-right: 17px;
}

.work-hours__day-name {
  font-weight: 500;
}

.work-hours__time {
  font-weight: normal;
}



/* SITE-HEADER */

.site-header__top {
  padding: 10px;
  font-weight: 500;
  background-color: #F9F8F8;
}

.site-header__top-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 192px;
}



/* PAGE-HERO */

.page-hero {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-hero__container {
  padding-left: 110px;
}

.page-hero__inner {
  max-width: 450px;
}

.page-hero__heading {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 64px;
}

.page-hero__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
  color: #949494;
}

/* SERVICES-PAGE */

.services__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -30px;
  list-style-type: none;
}

.services__item {
  width: 305px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.service {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
}

.service::before {
  width: 87px;
  height: 78px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  content: "";
}

.service__name {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 34px;
}

.service__description {
  margin-top: 0;
  margin-bottom: 26px;
}
