/* =============== CONTENTS =============== */
/* FONTS */
/* BOX-SIZING */
/* GLOBAL STYLES */
/* HELPER / GLOBAL COMPONENTS */
/* MEDIA QUERIES */



/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
    url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}



/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
